# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #361515;
  padding:40px 40px;
  border-bottom: 3px solid #ddd;
}

.navbar h1 {
  color: white;
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
    gap: 20px;

 
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a.active {
  color: orange;
}