body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #361515;
  padding: 20px 40px;
  border-bottom: 3px solid #ddd;
}

.navbar h1 {
  color: white;
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a.active {
  color: orange;
}
.hamburger {
  display: none;
  ;
}
